<h1>Listing enquirys</h1>


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>referentie</th>
      <th>Beschrijving</th>
      <th>Locatie</th>
      <th>Datum</th>
      <th>Aantal uitvoerenden</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @enquirys.each do |enquiry| %>
      <tr>
        <td><%= enquiry.id %></td>
        <td><%= enquiry.reference %></td>
        <td><%= enquiry.description %></td>
        <td><%= enquiry.location %></td>
        <td><%= enquiry.date %></td>
        <td><%= enquiry.amount %></td>

        <td><%= link_to 'Destroy', enquiry, method: :delete, data: {confirm: 'Weet u zeker dat u deze record wilt verwijderen?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe werkvergunning', enquirys_path, method: :create %>
<br>



<% if false %>
<td><%= simple_format enquiry.Date %></td>  
<td><%= simple_format enquiry.Amount %></td>
<% end %>

<br>
<hr>
<br>
    Hier word de inhoud van de maatregelen tabel getoond
    <hr>
    <H2>Maatregelen</H2>

    <table>
      <thead>
      <tr>
        <th>id</th>
        <th>Maatregel</th>
        <th>Type</th>
        <th>Geldig vanaf
        <th>Geldig tot</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @measurements.each do |measure| %>
          <tr>
            <td><%= measure.id %></td>
            <td><%= measure.measurement %></td>
            <td><%= measure.measurement_type %></td>
            <td><%= measure.valid_from %></td>
            <td><%= measure.valid_to %></td>
            <td><%# link_to 'Destroy', measure, method: :delete, data: {confirm: 'Weet u zeker dat u deze record wilt verwijderen?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<br>
<%= link_to 'Nieuwe maatregel', measures_path %>
<br>
