<%= form_for @enquiry, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Maatregel aanmaken</legend>

    <%= f.fields_for :measures do |measure| %>
        <%#measure.fields_for :measure do |measure| %>
    <div>
      <%= f.label :measurement %>
      <%= measure.text_field :measurement %>
    </div>

    <div>
      <%= f.label :type %>
      <%= measure.text_field :type %>
    </div>

    <div>
      <%= f.label :valid_from %>
      <%= measure.date_select :valid_from %>
    </div>

        <div>
          <%= f.label :valid_to %>
          <%= measure.date_select :valid_to %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
      <%# knop naar vorige pagina %>
      <%= button_to "vorige", enquirys_path %>

      <%# 24-11 MG knop die je terug stuurt naar de homepage %>
      <%= button_tag "Annuleren", :type => 'button', :class => "subBtn", :onclick => "location.href = '#{root_path()}'" %>

    </div>

        </fieldset>
<% end %>
<% end %>