<%= form_for @enquiry, remote :true, method: :put, url: wizard_path do |f| %>
    <% if f.object.errors.any? %>
        <div class="error_messages">
          <% f.object.errors.full_messages.each do |error| %>
              <p><%= error %></p>
          <% end %>
        </div>
    <% end %>

    <fieldset>
      <legend>Informatie</legend>

      <div>
        <%= f.label :reference %>
        <%= f.text_field :reference, disabled: true %>
      </div>

    </fieldset>

    <%# Code voor de Measurements. %>

    <fieldset>
      <legend>Maatregelen</legend>
      <%= f.fields_for :enquiry_measures do |enquiry_measures| %>
          <%# enquiry_measures.fields_for :measure do |measures| %>
          <div>s
            <%= f.label :Maatregel %>
            <br/>
            <%= collection_select(:measure_id, 0, Measure.all, :id, :measurement_type) %>

            <%= collection_select(:measure_id, 0, Measure.all, :id, :measurement) %>
          </div>

          <div>
            <%# test met enquiry_measures ipv f.label 7-12 MG%>
            <%= f.label :Gereed %>
            <br/>
            <%= enquiry_measures.check_box :done %>
          </div>

          <div>
            <%= f.label :Verantwoordelijke %>
            <br/>
            <%= enquiry_measures.text_field :responsible %>
          </div>

          <div>
            <%= f.label :Benodigd %>
            <br/>
            <%= enquiry_measures.check_box :needed %>

          </div>

          <div>
            <%= f.submit 'Next Step' %>

            <%# 24-11 MG knop die je terug stuurt naar de homepage %>
            <%= button_tag "Annuleren", :type => 'button', :class => "subBtn", :onclick => "location.href = '#{root_path()}'" %>

          </div>


          <%# end of enquiry_measures.fields_for :measure, END Tag nog plaatsen! %>
      <% end %> <%# end of f.fields_for :enquiry_measures %>
    </fieldset>
<% end %>



