<p id="notice"><%= notice %></p>

<h1>Listing Measures</h1>

<table>
  <thead>
    <tr>
      <th>Measurement</th>
      <th>Type</th>
      <th>Valid from</th>
      <th>Valid to</th>
      <th>Enquiry measure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.measurement %></td>
        <td><%= measure.measurement_type %></td>
        <td><%= measure.valid_from %></td>
        <td><%= measure.valid_to %></td>
        <td><%= measure.enquiry_measure_id %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure', new_measure_path %>
