<!DOCTYPE html>
<html>
<head>
  <title>Werkvergunning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>


  <% if current_user %>
      Ingelogd als <%= current_user.name %> | <%= link_to 'log uit', '/logout' %>
  <% else %>
      <%= link_to 'login', '/login' %> | <%= link_to 'aanmelden', '/signup' %>
  <% end %>

  <%= yield %>

</body>

</html>
